<% layout("/layouts/boilerplate") %>
<style>
    a {
        text-decoration: none;
    }
</style>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h1>Log in to your account</h1>
            <h4>Don't have an account? <a href="/signup">Sign Up</a></h4>
            <form method="POST" action="/login" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>